@charset "UTF-8";

/* Styles for champagne.js demo page */

/* CSS5 */
header,footer,article,section,hgroup,nav,figure{display:block;}

/* http://meyerweb.com/eric/tools/css/reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,hr,p,input,textarea,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}:focus{outline:none}::-moz-focus-inner { border: 0;}

body {
    background: #fafafa;
    color: #777;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin: 0 auto;
    width: 780px;
}

strong {
    font-weight: bold;
}

#fork-me {
    background: url(https://a248.e.akamai.net/camo.github.com/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67) no-repeat;
    display: block;
    height: 149px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 149px;
}

h1 {
    color: #444;
    font-family: 'Trochut', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 6em;
    margin: 20px 0 10px;
    text-shadow: 0 1px 0 #fff;
}
h2 {
    font-size: 0.95em;
    margin: 0 0 50px;
}
h2 strong {
    color: #444;
    font-size: 1.3em;
}

nav {
    margin: 0 auto 40px;
    overflow: hidden;
    width: 220px;
}
nav ul {
    font-size: 0.8em;
    padding: 10px 0;
}
nav li {
    float: left;
    width: 50%;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a span {
    display: none;
}

a.active {
    color: #709;
    cursor: text;
    font-weight: bold;
}
a.active span {
    display: inline;
    margin: 0 5px 0 0;
}
a.active:hover {
    text-decoration: none;
}

a.button {
    background-color: #709;
    background-image: -moz-linear-gradient(top, #709, #608);
    background-image: -ms-linear-gradient(top, #709, #608);
    background-image: -o-linear-gradient(top, #709, #608);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#709), to(#608));
    background-image: -webkit-linear-gradient(top, #709, #608);
    background-image: linear-gradient(top, #709, #608);
    border: 1px solid #406;
    -moz-border-radius:     5px;
    -ms-border-radius:      5px;
    -o-border-radius:       5px;
    -webkit-border-radius:  5px;
    border-radius:          5px;
    -moz-box-shadow:    inset 0 1px 0 #a5b;
    -webkit-box-shadow: inset 0 1px 0 #a5b;
    box-shadow:         inset 0 1px 0 #a5b;
    clear: both;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 6px 8px;
    text-align: center;
    text-shadow: 0 -2px 0 #203;
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition:    box-shadow 0.2s ease;
    -o-transition:      box-shadow 0.2s ease;
    transition:         box-shadow 0.2s ease;
}

a.button:hover {
    -moz-box-shadow:    inset 0 1px 0 #a5b, 0 1px 3px #888;
    -webkit-box-shadow: inset 0 1px 0 #a5b, 0 1px 3px #888;
    box-shadow:         inset 0 1px 0 #a5b, 0 1px 3px #888;
    text-decoration: none;
}

a.button:active {
    background-color: #608;
    background-image: -moz-linear-gradient(top, #608, #709);
    background-image: -ms-linear-gradient(top, #608, #709);
    background-image: -o-linear-gradient(top, #608, #709);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#608), to(#709));
    background-image: -webkit-linear-gradient(top, #608, #709);
    background-image: linear-gradient(top, #608, #709);
    -moz-box-shadow:    inset 0 1px 0 #a5b;
    -webkit-box-shadow: inset 0 1px 0 #a5b;
    box-shadow:         inset 0 1px 0 #a5b;
}

ul.champagne img {
    margin-top: 1px;
}