/*

Champagne CSS

The width of the ul is equal to the number of columns times li width
and the height of the ul is equal to the number of rows times li height.

Don't forget to account for margin, padding, and borders!

*/
ul.champagne {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  clear: both;
  font-size: 20px;
  font-weight: bold;
  height: 432px;
  list-style: none;
  margin: 30px auto;
  padding: 0;
  position: relative;
  width: 768px;
}
ul.champagne:after {
  background: transparent;
  bottom: 10px;
  -webkit-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.2);
  content: '';
  height: 55%;
  position: absolute;
  right: 10px;
  -webkit-transform: skew(4deg) rotate(2deg);
  -moz-transform: skew(4deg) rotate(2deg);
  transform: skew(4deg) rotate(2deg);
  width: 70%;
  z-index: -1;
}
ul.champagne:before {
  background: transparent;
  bottom: 10px;
  -webkit-box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.2);
  box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.2);
  content: '';
  height: 55%;
  left: 10px;
  position: absolute;
  -webkit-transform: skew(-4deg) rotate(-2deg);
  -moz-transform: skew(-4deg) rotate(-2deg);
  transform: skew(-4deg) rotate(-2deg);
  width: 70%;
  z-index: -2;
}
ul.champagne li {
  background: #fff;
  border: 1px solid #ddd;
  height: 30px;
  float: left;
  padding: 20px;
  text-align: center;
  width: 150px;
}
ul.champagne div.hidden {
  display: none;
}
